@model List<MasterRoster.Models.BookingViewModels.BookingCellValidationViewModel>
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/Custom/CustomFunctions.js"></script>
<h3>Weekly Bookings</h3>

<table class="table">
    <tr class="alert-danger">
        <th>Choose a date <input type="Date" value="" id="dateInWeek"/></th>       
        <th style="float:right;">
            <button class="btn-link" name="CreateReport" value="CreateReport" onclick="">Create Report</button>
            <button class="btn-link" name="CreateBooking" value="CreateBooking" onclick="RedirectToCreateBooking()">Create Booking</button>
        </th>
    </tr>
    <tr class="alert-danger">
        <th colspan="2">&nbsp;&nbsp;&nbsp;<button class="" name="Search" value="Search" onclick="RedirectToWeeklyReport()">Weekly Bookings</button>
        &nbsp;&nbsp;&nbsp;<button class="" name="Search" value="Search" onclick="RedirectToMonthlyReport()">Monthly Bookings</button></th>
    </tr>

</table>

<div class="container">
    <div class="row col-md-1"></div>
        <div class="row col-md-10">
            <table class="table table-bordered">
                <thead>
                    <tr >
                        <th width="25%" style="text-align:center;"></th>
                        <th width="25%" style="text-align:center;">Day Shift</th>
                        <th width="25%" style="text-align:center;">Afternoon Shift</th>
                        <th width="25%" style="text-align:center;">Evening Shift</th>
                    </tr>
                </thead>

                @foreach(var day in Model.Select(b => b.BookingDate).Distinct().OrderBy(b=>b.Date).ToList())
                {
                    <thead>
                        <tr>
                            <td><b>@day.DayOfWeek (@day.ToString("MM/dd/yyyy"))</b></td>
                            @foreach (var crew in Model.Select(b => b.BookingCrew).Distinct())
                            {
                                var cellData = Model.Where(m => m.BookingCrew == crew && m.BookingDate == day);
                                var isValid = cellData.Select(b => b.IsValid).SingleOrDefault();
                                var validationMessages = cellData.Select(b => b.ValidationMessages).SingleOrDefault();
                                string backgroundColor = "#FF4500";
                                if (isValid) { backgroundColor = "#228B22"; }
                                <td  title="@string.Join("\n",validationMessages)" style="Text-align:center;background-color: @backgroundColor;" onclick="window.location = '/Bookings/Details?Crew=@crew&Date=@cellData.Select(c => c.BookingDate).SingleOrDefault().ToString("MM/dd/yyyy")'">
                                    @if (!isValid)
                                    { <text>Attention Required</text> }
                                </td>
                            }
                        </tr>

                    </thead>
                }
            </table>
            <p class="alert-info"> ** Hover over fields for more info</p>
            <p class="alert-danger"> ** Red field indicates invalid shift</p>
            <p class="alert-success"> ** Green field indicates valid shift</p>
        </div>
    <div class="row col-md-1"></div>
</div>
